body{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #631707;
    height: 100%;
    margin: 0;
  }
  .pimg1 .pimg2 .pimg3 {
    background-attachment: scroll;
 }
 .pimg1{
     background-image: url(31189.jpg);
     min-height: 400px;
     position: relative;
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
 }
 .section-light {
     background-color: #f4f4f4;
     color: #631707;
}
.section {
text-align: center;
padding: 50px 80px;
}
.pimg2 {
background-image: url(pier_dock_sea_dusk_shore_118549_300x188.jpg);
min-height: 400px;
position: relative;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
opacity: 0.7;
}
.section-dark {
    background-color: #282e34;
    color: #ddd;
}
.section {
    text-align: center;
    padding: 50px 80px;
}
.pimg3 {
    background-image: url(139652.jpg);
    min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8.5px;
    text-transform: uppercase;
}
.ptext.border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}
